.overlay-first {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 36px);
  height: 100%;


  /* background-repeat: no-repeat; */
}

.image-container {
  min-height: calc(100vh - 36px);
  height: 100%;
  width: 70%;
  background-image: url("../images/hero.svg");
  background-repeat: no-repeat;
  /* img {
    height: 100%;
    width: 753px;
  } */
}

.right-content {
  display: flex;
  min-height: calc(100vh - 36px);
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  max-width: 660px;

  h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
  }

  p {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .btn-2 {
    background-color: white;
    color: black;
  }

  .btns {
    display: flex;
    gap: 24px;
  }
  button {
    width: 182px;
    height: 48px;
  }
}

.text {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 64px;
  color: white;
}

